  
.header-main {
  position: fixed;
  width: calc(100% - 250px);
  height: 70px;
  background-color: #ffffff;
  top: 0;
  left: 250px;
  display: flex;
  align-items: center;
  justify-content: end;
  padding-right: 20px;
  border-bottom: 1px solid #e3e3e3;
  z-index: 999;

  .header-elements {
    display: flex;
    gap: 20px;
    align-items: center;

    .search-bar-header {
      position: relative;

      input {
        padding: 10px 20px;
        border-radius: 5px;
        border: 1px solid #dddddd;
        outline: none;
      }

      .search-icon {

        img {
          position: absolute;
          top: 26%;
          right: 7%;
          width: 20px;
          cursor: pointer;
        }
      }
    }

    .notification-svg{
      width: 22px;
      height: 22px;
      cursor: pointer;
    }

    .profile-header {
      .profile-image {
        max-width: 40px;
        max-height: 40px;
        
        img {
          padding: 1px;
          border: 1px solid #3276e8;
          height: 100%;
          width: 100%;
          border-radius: 50%;
          object-fit: cover;
          cursor: pointer;
        }
      }
    }
  }
}
